.themeContainer {
    width: 100%;
    overflow: hidden;
}
.themeContainer-wrapper {
    width: 80%;
    overflow: hidden;
    margin: 10px auto;
}
.themeContainer-item {
    width: 25%;
    float: left;
}
.clear {
    clear: left;
}